SetEnv APPLICATION_ENV development
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
#RewriteRule ^apps/testapp1/ajax$ /apps/testapp1/index.php [NC,QSA,L]
#RewriteRule ^(.+)/ajax$ /$1/index.php [NC,QSA,L]

#RewriteRule ^.*$ index.php  /abc/ [L]
