label.error{
	border: 0 !important;
	color:#FF0000;
	padding-left:5px;
}
.error{
    border:1px solid red !important;
	margin:-1px;
}
.error_class{
	color:#FF0000;
}


.view_more_loader{
	width:10px;
	margin-left:auto;
	margin-right:auto; 
	display:none;
}

.view_more_products{
	width:200px;
	margin:auto;
	color:#000000;
	font-size:14px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
}