/* Event Calender Module CSS */

.calendar{width:800px;float:left;margin:0px 0px 0px 25px;}
.time{width: 6.5em !important;}
.error{border:1px solid red !important;}
.error_div {display:none;color:red;128px;padding-left:128px}
.success_message{color:green;display:none;font-weight:bold;margin-left:315px;}
.timeline {
	position: absolute;
	left: 59px;
	border: none;
	border-top: 1px solid red;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 999;
}



#form_bubble  .bubble_close {
    background: url("../../default/images/close_button.png") repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    height: 9px;
    position: absolute;
    right: 8px;
    top: 6px;
    width: 9px !important;
	text-indent:-9999px}
#form_bubble {
    background-color: #FFFFFF;
    border: 1px solid #A7B1B8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 7px #A7B1B8;
    display: none;
    float: left;
    height: 106px;
    padding:2px 5px;
    position: absolute;
    width: 122px;
    z-index: 101;
    
}
#form_bubble .moretitle{font-weight: bold;
    padding: 2px;}
#form_bubble ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0px;
}

#form_bubble div {
    height: 109px;
    overflow-y: auto;
    overflow-x: hidden;
}

#form_bubble li {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    margin: 1px;
    border-radius: none;
    color: #fff;
    width: 141px;font-size:12px;padding:0 0 0 4px
}
