/* Event Calender Module CSS */

.calendar{width:800px;float:left;margin:0px 0px 0px 25px;}
.time{width: 6.5em !important;}
.error{border:1px solid red !important;}
.error_div {display:none;color:red;padding-left:128px}
.success_message{color:green;font-weight:bold;margin-left:315px;}
.timeline {
	position: absolute;
	left: 59px;
	border: none;
	border-top: 1px solid red;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 999;
}



#form_bubble  .bubble_close {
    background: url("../../default/images/close_button.png") repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    height: 9px;
    position: absolute;
    right: 8px;
    top: 6px;
    width: 9px !important;
	text-indent:-9999px}
#form_bubble {
    background-color: #FFFFFF;
    border: 1px solid #A7B1B8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 7px #A7B1B8;
    display: none;
    float: left;
    height: 106px;
    padding:2px 5px;
    position: absolute;
    width: 122px;
    z-index: 101;
    
}
#form_bubble .moretitle{font-weight: bold;
    padding: 2px;}
#form_bubble ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0px;
}

#form_bubble div {
    height: 109px;
    overflow-y: auto;
    overflow-x: hidden;
}

#form_bubble li {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    margin: 1px;
    border-radius: none;
    color: #fff;
    width: 141px;font-size:12px;padding:0 0 0 4px
}

#example-two {
	font: 12px Arial, Helvetica, sans-serif;
	display: none;
	position: relative;
	margin: 0 auto;
	z-index: 1480;
	width: 390px;
	border: 1px solid #ccc;
}
#example-two .list-wrap {background: #fff; padding: 10px; 
}
#example-two .nav {
	background: #fff;
	width: 100%;
	float: left;
}
#example-two ul {
	margin: 0;
	padding: 0;
}

.divlabel{
font: 12px Arial, Helvetica, sans-serif;
padding: 2px 16px 9px 4px;
}
.divlabel label{
padding: 5px;
}
.divlabel input[type=text]{
border: 1px solid #adafae;
	border-radius: 4px;
	padding: 2px;
	width: 220px;
	margin-left:7px;
}
.divlabel small{
padding-left:80px;
}
.popup_cls {
	background: url(../../default/images/calendar_pop_close.png) no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 12px;
	position: absolute;
	right: 7px;
	top: 40px;
	width: 12px;
}
.popup_cls, .popfx {
	position: absolute;
	right: 4px;
	top: 11px;
}
.popup_cls .closetop {
	top: 11px
}
.small_form_btn{
width:auto; margin:0 5px 0 82px;
background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
background-image: -os-linear-gradient(top, #f8f8f8, #f1f1f1);
background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
background: #f8f8f8;
border: 1px solid #c6c6c6;
border-radius: 4px 4px 4px 4px;
transition: all 0s;
color: #222222;
transition: all 0s;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
font-weight: bold;
padding: 3px 6px 4px 5px;
}
.edit_event_link{
color: #1155CC;
cursor: pointer;
font-family: arial;
font-size: 12px;
font-weight: bold;
margin: 6px 0 0 10px;
text-decoration: none; 
}
.edit_event_link:hover{
color: #1155CC;
	cursor: pointer;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin: 6px 0 0 10px;
	text-decoration: underline;
}
.appoint-popup {
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	height: auto;
	left: 469px;
	min-width: 355px;
	position: absolute;
	top: 512px;
	z-index: 999;
}
.close_xbtn {
	float: right;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	padding: 0px;
	text-decoration:none;
}
h3.apnt-popup {
	 border-bottom: 1px solid #CCCCCC;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 0 10px 10px 5px;
    width: 95%;
}

.event_title{padding-left: 6px;}
.public-link a {
	color: #1378BB;
	font-size: 11px;
	font-weight: bold;
	padding: 0 0 0 10px;
	float: left;
	text-decoration: none;
}
.public-link a:hover {
	text-decoration: underline;
	color: #0063b7
}
a.delete-editBtn {
	color: #1378BB;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 0 10px 10px;
	float: left;
	text-decoration: none;
}
a.delete-editBtn:hover {
	text-decoration: underline;
}
a.delete-editBtn.editrht {
	float: right;
	padding-right: 10px
}
a.delete-editBtn.center {
}
.hidden{display:none;}

.error_message{color:red;font-weight:bold;margin-left:315px;}
/*pop up css*/
