label.error{
	border: 0 !important;
	color:#FF0000;
	width:100% !important;
	padding-left:31%;
}
.error{
    border:1px solid red !important;
	margin:-1px;
}
.error_class{
	color:#FF0000;
}


.view_more_loader{
	width:10px;
	margin-left:auto;
	margin-right:auto; 
	display:none;
}

.view_more_products{
	width:200px;
	margin:auto;
	color:#000000;
	font-size:14px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	cursor:pointer;
}

.no_result_found{
	width:200px;
	margin:auto;
	color:#ED1C24;
	font-size:14px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align:center;	
}
.profile_image_upload {
background: url('../../images/upload_profile_pic.png') no-repeat center;
}
.profile_image_edit {
background: url('../../images/edit_profile_pic.png') no-repeat center;
}
.profile_image_change {
text-align:center; padding:10px; font-weight:bold; text-indent:-9999px;margin-top:-35px;position:absolute;width:180px;
}
.profile_image_file_button{
position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px 0px 65px 0px; cursor: pointer; opacity: 0;
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .6 ) 
                url('http://www.wingshootingusa.org/2012/Images/loading_transparent.gif') 
                50% 50% 
                no-repeat;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}
/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}