label.error{
	border: 0 !important;
	color:#FF0000;
	width:100% !important;
	padding-left:31%;
}
.error{
    border:1px solid red !important;
	margin:-1px;
}
.error_class{
	color:#FF0000;
}


.view_more_loader{
	width:10px;
	margin-left:auto;
	margin-right:auto; 
	display:none;
}

.view_more_products{
	width:200px;
	margin:auto;
	color:#000000;
	font-size:14px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	cursor:pointer;
}

.no_result_found{
	width:200px;
	margin:auto;
	color:#ED1C24;
	font-size:14px;
	font-weight:bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align:center;	
}
.profile_image_upload {
background: url('../../images/upload_profile_pic.png') no-repeat center;
}
.profile_image_edit {
background: url('../../images/edit_profile_pic.png') no-repeat center;
}
.profile_image_change {
text-align:center; padding:10px; font-weight:bold; text-indent:-9999px;margin-top:-35px;position:absolute;width:180px;
}
.profile_image_file_button{
position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px 0px 65px 0px; cursor: pointer; opacity: 0;
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .6 ) 
                url('../../images/loading_transparent.gif') 
                50% 50% 
                no-repeat;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}
/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
.edit_aboutus{
	height:19px;
}
#view_about_us{
	padding:0 !important;
	margin:15px 1px 1px 40px !important;
}
#edit_about_us textarea{
	height: 150px !important;
	resize: vertical;
	font: normal 12px/18px arial;
	padding: 5px;
}
.add_about{
	background:#F9F9F9;left:0;position:relative;top:0;float:none;cursor:pointer;text-align:center;padding:20px 0;margin:20px 10px 10px 12px;font:bold 18px Arial;color:#1378bb;border-radius:3px;border:1px dashed #ccc;
}
.add_about:hover{
	background: #f1f1f1;
	color: #333;
}
.add_about a{
background: url(../../images/plus_icons.png) no-repeat 0 0px;
width: 35px;
height: 14px;
display:inline-block;
}
.add_about:hover a{
background: url(../../images/plus_icons.png) no-repeat 0 -26px;
}
.profile_info_block .header h2{
	font-weight:bold;
	color: #333;
}
.member_success_msg{
	top:0;
	z-index: 99999;
	width: 768px;
	left:20%;
	position: fixed;
	color: green;
	font-size: 14px;
	background: #E5FBC4;
	padding: 5px;
	font-weight: bold;
	text-align: center;
	border: 1px solid green;
}