@charset "utf-8";
/* CSS Document */

.error_message {
color: #bd4247;
}


.req {
    color: red !important;
    display: inline;
    float: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}



.button-flag-yes {
    background: url("../../default/images/app-icons.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    padding: 3px 3px 6px 18px;
	background-position: -134px -15px;
    text-shadow: 1px 1px #FFFFFF;
}

.button-flag-no {
    background: url("../../default/images/app-icons.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    padding: 3px 3px 6px 18px;
	background-position: -150px -15px;
    text-shadow: 1px 1px #FFFFFF;
}